.body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-weight: 900;
    background-color:#FFFDD0;
}

body {
    background-color: #FFFDD0;
}

.page {
    width: 1000px;
    background-color: #FFFDD0;
    margin: auto;
    padding: 0px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 400px;
}

.small-font {
    font-size: 14px;
}
.center {
    text-align: center;
    justify-content: center;
  }
.road_fatalities{
    color: red;
}
